<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>React Project</title>
  <link rel="shortcut icon" href="/assets/img/clip.png"/>
  <link rel="stylesheet" type="text/css" href="/assets/style.css"/>
</head>
<body> 
  <nav><a href="/404page"><img id="logo" src="/assets/img/pingy.png" alt="face logo"/></a>
    <div class="navlink"><a id="homeButton" href="/">Home</a></div>
  </nav>
  
  <section id="content">

  </section>
  <script src="/assets/notfoundBundle.js"></script>
</body>
</html>
